<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Greetings</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/greet.css">

<body>
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class="col-md-4 offset-md-4">
    <div class="greetingHeading">

      <h3>Greetings</h3>
      <div class="error">
       <span class="error">{{messages.error}}</span> 
      </div>
      <div class="message">
       <span class="message">{{messages.message}}</span>
      </div>

      <form action='/greetings'method='post'>
      <div class="textboxHeading">
        <a href="namesGreeted">View users greeted</a>
      </div>
      <div class="col-xs-4" >
      <input type="text" placeholder="Enter name here" class="form-control" name='inputText'pattern="[A-Za-z]+" >
      <p placeholder="0" class="countGreetings" name='counterCount' >{{counterNum}}</p>
    </div>
    </div>
    <div class="RadioBtn">
      <div class="row">
      <label for="English">
       <input type="radio" name="language" value="English" class="LanguageBtn1" style="margin:10px" >
       <span>English </span> <br>
      </label>

      <span><input type="radio" name="language" value="French" class="LanguageBtn2" style="margin:10px" >French</span> <br>
      <span><input type="radio" name="language" value="Spanish" class="LanguageBtn3" style="margin:10px">Spanish</span>
    </div>
        <br>
        </div>

    <div class="welcome">
           <p class="display" name='displayNameEntered'>{{displayName}}</p>
    </div>
    <div class="row">
      <button type="submit" name="Greeting" class="greetBtn">Greet</button>
    </form>
    <form action="/reset" method="post">
          <button type="subtmit" name="Reset" class='resetBtn'>Reset</button>
    </form>
    </div>
    </div>
    </div>
  </div>
  
</body>

</html>
