body, html{
    height: 100%;
    margin: auto 0;
    padding: 0;
    background-image: url('hello.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
   font-size: 35px; 
   font-family: Arial, Helvetica, sans-serif;
   color: antiquewhite;
}

span{
    font-size: 15px; 
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
 } 

 li{
    font-size: 25px; 
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;  
 }

 p{
    font-size: 25px; 
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;  
 }

